nav.menu
  ul.menu-list
    li.menu-item
      a.menu-link.home(href="/") Home
    li.menu-item
      a.menu-link.github(href="https://github.com/WonSong", target="_blank") Github 
    li.menu-item
      a.menu-link.email(href="mailto:hello@wonsong.me") hello@wonsong.me