style.
    body{color: white;background-color:#2A2E31;font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;}
    main{padding-left: 96px;padding-right: 96px;width: 900px;margin: auto;margin-top: 100px;line-height: 1.3;font-size: 20px;}
    a{color:white;cursor:pointer;text-decoration:none;line-height: 1.7;}
    a:hover{color:rgb(82,156,202);} 
    a:before{content:'🔗';color:rgb(82, 156, 202);margin-right: 6px;}
    .menu-list{padding-left:0;text-align:right;}
    .menu-item{display:inline-block;margin-right:30px;}
    .menu-link{font-size:16px;}