img.profile-photo(src="/assets/won.jpg")
h1 Won's
p Collection of random questions and answers about whatever interests him.

section
    h2.yellow Current
    p ...Nothing here, yet
    //- ul
    //-     li 
    //-         a(href="/blog/authenticate-my-api-using-social-login").
    //-             How do I authenticate my <code>React Native</code> app to my APIs using social login (i.e. Google)?

section
    h2.pink Done 
    p ...Nothing here, yet
    //- ul
    //-     li How do I implement micro-frontend using React? 
    //-         ul
    //-             li 
    //-                 a Load <code>React</code> component from another server 
    //-             li 
    //-                 a Connect <code>React</code> components 
    //-             li 
    //-                 a Connect <code>Redux</code> store 

section
    h2.purple Archive 
    p ...Nothing here, yet