@import './_styles/normalize';


h1 {
  font-size: 3em;
  font-weight: 600;
  margin: 0;
}

h2 {
  font-weight: 600;
  font-size: 1.3em;
  margin-bottom: 12px;

  &.yellow {
    color: rgb(255, 220, 73);
  }

  &.pink {
    color: rgb(226, 85, 161);
  }

  &.purple {
    color: rgb(154, 109, 215);
  }
}

p {
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.7;
}

li {
  margin-bottom: 5px;
  line-height: 1;
}

ul {
  margin-top: 12px;
  list-style: disc;
}

.profile-photo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 30px;
}

section {
  margin-top: 50px;
}


code {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  font-size: 17px;
  display: inline-block;
  background: #202426;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 3px;
}


a.menu-link.github {
  &:before {
    content: '💻';
  }
}

.menu-link.email {
  &:before {
    content: '✉️';
  }
}

.menu-link.home {
  &:before {
    content: '🏠';
  }
}